/* Default styling */
body {
    background-color: rgb(246, 241, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #494b6b;
    text-align: center;
}

/* Game area styling */
.game-area {
    background-color: #f5d4ac;
    box-sizing: border-box;
    width: 85%;
    max-height: 50rem;
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 5%;
}

/* Numbers area styling */
.numbers-area {
    display: flex;
    justify-content: center;
}

/* Styling specific for numbers box */
.numbers-box {
    background-color: rgb(246, 241, 241);
    width: 9rem;
    height: 3rem;
    padding: 20px;
    color:  #494b6b;
    font-weight: bold;
    font-size: 2.5rem;
}

/* Styling for the start button */
#btn-start-game {
    background-color: #18c30f;
    border-radius: 50%;
    font-size: 2rem;
    padding: 1rem;
    margin-left: 2rem;
}

/* Styling for player input area */
.input-area {
    width: 9rem;
    height: 3rem;
    display: inline;
    margin-top: 2rem;
}

.input-area h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Style for players input field */
#player-answer {
    background-color: rgb(246, 241, 241);
    border: none;
    width: 8rem;
    height: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0b2bce;
}

/* Style for submit button to check answer */
#btn-submit {
    padding: 0.5rem;
    margin-left: 1.5rem;
    background-color: #53bed9;
    font-size: 1rem;
}

/* Results area and correct/incorrect answers styling */
.score-area {
    width: 15rem;
    height: 3rem;
    margin: 3rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.correct-answers {
    color: #0d8507;
}

.incorrect-answers {
    color: #da281b
}

/* Styling for button to display instructions */
#btn-instructions {
    background-color: #dfe0d9;
    border-radius: 7px;
}

/* Instructions text is hidden by default */
#instructions-text {
    display: none;
}

footer {
    color: #494b6b;
    font-weight: bold; 
}
