body {
    background-color: rgb(246, 241, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #494b6b;
    text-align: center;
}

.game-area {
    background-color: #f7e7d3;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 40rem;
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 5%;
}

.numbers-area {
    background-color: rgb(246, 241, 241);
    width: 20%;
    height: 15%;
    margin: auto;
    padding: 30px;
    text-align: center;
    color:  #494b6b;
}

.input-area {
    width: 30%;
    height: 20%;
    display: inline-block;
    margin-top: 2rem;
}

.input-area p {
    font-weight: bold;
    font-size: 1.2rem;
}

#player-answer {
    background-color: rgb(246, 241, 241);
    border: none;
    width: 8rem;
    height: 2.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0b2bce;
}